{% extends 'base.html' %}
{% load static %}

{% block title %}
    Team
{% endblock %}

{% block content %}

    <section id="feature">
        <div class="container">
            <div class="row" style="padding-left: 150px; padding-right: 150px">
                <div class="col-lg-12">
                    <div class="section-title text-center">
                        <h2>Team</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">


            {% for member in team %}
                <!-- publication sheet -->
                <div class="row" style="align-items: center;">
                    <div class="col-md-8">
                        <!-- Name -->
                        <a href="{% url 'member' %}?name={{ member.name }}"><h3>{{ member.name }}</h3></a>
                        <!-- Position -->
                        <p><b><i>{{ member.position }}</i></b></p><br/>
                        <!-- Background -->
                        <h6>{{ member.background }}</h6>
                        <!-- Bio -->
                        <h6 style="word-break: break-word; font-family: Ubuntu,serif">{{ member.bio }}</h6>
                        <!-- E-mail -->
                        <p>E-mail: <a href="{{ member.email }}">{{ member.email }}</a></p>

                    </div>
                    <div class="col-md-3">
                        <img class="img-fluid" src="{{ member.photo.url }}" alt="">
                    </div>
                </div>

                <hr/>

            {% endfor %}
        </div>
    </section>

{% endblock %}